<div class="container">
  <!-- Section 1 App -->
  <div id="section-1-app">
    <h1 >Qué quieres crear el día de hoy?</h1>
    <h4> Crear aplicaciones reales increíbles
      desde cero y demostrar que fuera en su
      cartera o utilizarlos para iniciar su
      propio negocio.
    </h4>
  </div>
  <div class="line-section"></div>

	<div class="row">
	  <!-- Course Ready -->
	  <div class="col-md-4 col-sm-6">
	    <div class="courses">
	      <div class="course-holder">
	      	<%= image_tag "ruby-fundamentals.png" %>
	        <div class="course-difficulty easy">Principiante</div>
	      </div>
	      <div class="course-info">
	        <h1>Fundamentos de Ruby on Rails</h1>
	        <p> We'll guide you through all the basic bits and pieces
	          like installing Rails, getting in touch with the command line,
	          setting up Github and Heroku accounts and get important
	          overviews about programming concepts.
	        </p>
	      </div>
	      <div>
	        <div class="course-login">
	          <a class="course-login-link">Entrar al curso </a>
	        </div>
	        <div class="app-preview">
	          <a class="app-preview-link"> Preview de la App </a>
	          </div>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4 col-sm-6">
	    <!-- Course In Progress -->
	    <div class="courses">
	      <div class="course-holder">
	      	<%= image_tag "ecommerce-apps.png" %>
	        <div class="course-difficulty medium">Intermedio</div>
	      </div>
	      <div class="course-info">
	        <h1>E-commerce Bilateral</h1>
	        <p> Do you have an amazing business idea
	            for a marketplace? We teach you step by
	            step how build web platform where people
	            can exchange goods or services.
	        </p>
	      </div>
	      <div>
	        <div class="course-soon">
	          <a class="course-soon-link"> Proximamente </a>
	        </div>
	        <div class="course-soon">
	          <a class="course-soon-link"> Preview de la App </a>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4 col-sm-6">
	    <!-- Course Ready -->
	    <div class="courses">
	      <div class="course-holder">
	      	<%= image_tag "ruby-fundamentals.png" %>
	        <div class="course-difficulty hard">Avanzado</div>
	      </div>
	      <div class="course-info">
	        <h1>Fundamentos de Ruby on Rails</h1>
	        <p> We'll guide you through all the basic bits and pieces
	          like installing Rails, getting in touch with the command line,
	          setting up Github and Heroku accounts and get important
	          overviews about programming concepts.
	        </p>
	      </div>
	      <div>
	        <div class="course-login">
	          <a class="course-login-link">Entrar al curso </a>
	        </div>
	        <div class="app-preview">
	          <a class="app-preview-link"> Preview de la App </a>
	          </div>
	      </div>
	    </div>
	  </div>

	</div>

</div>