
<div>
	<div class="course-login">
      <%= link_to "Entrar al curso", link,  :class => "course-login-link" %>
	</div>
	<div class="app-preview">
		<%= link_to "Preview de la App", preview,  :class => "app-preview-link", :target => "_blank" %>
	</div>
</div>