<!-- SECTION COURSE DESCRIPTION -->
            <div class="course-landing-description" style="
            	background: url(<%= @course.bg_picture.url %>) center center;
            ">

            	
              <div class="container">
                  <h2>Learn how to build a social
                     network using Ruby on Rails
                   </h2>
                  <h1>Build the next booming
                    niche social network.
                  </h1>
                  <div class="course-login">
                    <a class="course-login-link">Entrar al curso </a>
                  </div>
              </div>
            </div>



          <div class="container">

            <div class="row">
              <!-- SECTION COMPLETITION TIME -->
              <div class="col-sm-4 completition-time">
                <h3>Course estimated completion time</h3>
                <p>30 días <span class="one-hour time ">1 hora al día</span></p>
                <p>45 días <span class="time quarter">45 minutos al día</span></p>
                <p>60 días <span class="time half-hour">30 minutos al día</span></p>
              </div>

              <!-- COURSE DESCRIPTION -->
              <div class="col-sm-4 course-description">
                <h2>Descripción</h2>
                <p> Did you discover the magical niche
                   for a new social network? Learn how
                   to make a social network platform
                   where people can connect, and share
                   information.
                <br>
                <br>
                We advise this course for beginners
                that want to get acquainted with
                social engagement tools where you
                will develop a social network a bit
                like Facebook.com</p>
              </div>

              <!-- COURSE TOOLS -->
              <div class="col-sm-4 course-tools">
                <h2>Herramientas</h2>
                <p>
                  Public Activity
                  <br><br>Gravatars
                  <br><br>Content Detection
                  <br><br>Advanced Associations
                  <br><br>Dynamic Links
                </p>
              </div>
            </div>

              <!-- COURSE CONTENT-->
              <div class="course-content">
                <div class="course-title">
                  <h1>Contenido del Curso</hi>
                  <h3>Fundamentos de Rails</h3>
                </div>

                <div class="lecture">
                  <div class="lecture-title">
                    <h1>The Social Network</h1>
                  </div>
                  <div class="lecture-section">
                    <a href="course_video.html"  class="lecture-link">
                      <img src="images/play.png">
                       Intro 
                   </a>
                  </div>
                  <div class="lecture-section">
                    <a class="lecture-link">
                      <img src="images/play.png">
                       Intro 
                   </a>
                  </div>
                  <div class="lecture-section">
                    <a class="lecture-link">
                      <img src="images/play.png">
                       Intro 
                   </a>
                  </div>
                  <div class="lecture-section">
                    <a class="lecture-link">
                      <img src="images/play.png">
                       Intro 
                   </a>
                  </div>
                </div>
                <div class="lecture">
                  <div class="lecture-title">
                    <h1>Planning</h1>
                  </div>
                  <div class="lecture-section">
                    <a class="lecture-link">
                      <img src="images/play.png">
                       Intro 
                   </a>
                  </div>
                  <div class="lecture-section">
                    <a class="lecture-link">
                      <img src="images/play.png">
                       Intro 
                   </a>
                  </div>
                  <div class="lecture-section">
                    <a class="lecture-link">
                      <img src="images/play.png">
                       Intro 
                   </a>
                  </div>
                  <div class="lecture-section">
                    <a class="lecture-link">
                      <img src="images/play.png">
                       Intro 
                   </a>
                  </div>
                </div>


              </div>

          </div>