
/********* NAV BAR ********/
#mobile_menu{
  display: block;
}

#brand-app h1{
  font-weight: 700;
  font-size: 0.8em;
  color: black;
  display: inline-block;
}

/******* FLASH MESSAGE *********/

.alert {
  margin-bottom: 0 !important;
}

#flash-col {
  padding: 0;
}

#flash-row {
  margin: 0;
  max-width: 100vw;
}
/******* SECTION 1 APP *********/

#section-1-app{
  margin: 80px 0 25px 0;
  text-align: center;
}

#section-1-app h1{
  padding: 0px !important;
  margin: 0px 0px 10px !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  color: #222;
  letter-spacing: 0.3em;
}
#section-1-app h4{
  box-sizing: border-box;
  color: #999;
  font-family: 'Libre Baskerville', serif !important;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  line-height: 18.8px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  text-align: center;
  text-rendering: optimizelegibility;
  text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}
.line-section{
  width: 100%;
  height: 1px;
  background: #EFEFEF none repeat scroll 0% 0%;
}
/******** COURSES SECTION **********/

.courses{
  width: 100%;
  border: 1px solid #F2F2F2;
  margin-top: 50px;
}
.course-holder{
  position: relative;
}
.course-difficulty{
  width: 120px;
  height: 30px;
  color: white;
  line-height: 25px;
  padding: 2px 5px 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  text-transform: uppercase;
}
.easy{
    background-color: #58BF44;
}

.medium{
  background-color: rgb(255, 143, 51);
}
.hard{
  background-color: rgb(228, 25, 25);
}

.course-info{
  margin-left: 10px;
  margin-top: 15px;
  overflow: hidden;
}

.course-info h1{
  cursor: pointer;
  letter-spacing: 0.3px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

.course-info p{
  font-size: 0.9em;
  font-weight: 300;
  color: #555;
  line-height: 1.5;
  margin: 10px 0px 1.5em 0px !important;
}


.course-holder img{
  width: 100%;
}

.course-login{
  width: 80%;
  background-color: rgb(88, 191, 68);
  margin-left: 10%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}
.course-login-link{
  display: block;
  margin: 0;
  padding: 0px;
  height: 35px;
  line-height: 35px;
  text-decoration: none !important;
  font-size: 0.8em;
  font-weight: bolder;
  color: white;
}

.course-login-link:hover{
  text-decoration: none;
  color: white;
}
.app-preview{
  width: 80%;
  text-align: center;
  margin: 20px 0 20px 10%;
  background-color: rgb(38, 192, 190);
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10%;
}

.app-preview-link{
  display: block;
  color: white;
  margin: 0;
  padding: 0px;
  height: 35px;
  line-height: 35px;
  font-size: 0.8em;
  font-weight: bolder;
  text-decoration: none !important;
}

.app-preview-link:hover{
  text-decoration: none;
  color: white;
}

.course-soon{
  width: 80%;
  background-color: rgb(195, 195, 195);
  margin-left: 10%;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 20px 10%;
  cursor: pointer;
}

.course-soon-link{
  display: block;
  color: white;
  margin: 0;
  padding: 0px;
  height: 35px;
  line-height: 35px;
  font-size: 0.8em;
  font-weight: bolder;
  text-decoration: none !important;
}

.course-soon-link:hover{

  color: white;
}


/********FOOTER OF THE APP **********/

#footer-app{
  width: 90%;
  text-align: center;
  margin-top: 35px;
  margin-left: 5%;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footer-app-content{
  margin-top: 25px;
}

/************ MEDIA QUERIES ******************/


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}


/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {

    .course-holder img{
      height: 220px;
    }
    .course-info{
      height: 120px;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 992px) {



}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
