/********* Blog Posts ********/
  
h2.blog-title a {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #222;
}

h2.blog-title a:hover {
  text-decoration: none;  
  color: #912d2b;
}
.blog-well {
  background-color: #f8f8f8 !important;
}
.blog-well h4 {
  font-family: 'Libre Baskerville', serif !important;
  font-size: 1em;
  color: #999;  
}
