// Place all the styles related to the codecasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/************Section 1**************/

#section-1-codecast{
  margin: 80px 0 25px 0;
  text-align: center;
}

#section-1-codecast h1{
  padding: 0px !important;
  margin: 0px 0px 10px !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  color: #222;
  letter-spacing: 0.3em;
}
#section-1-codecast h4{
  box-sizing: border-box;
  color: #999;
  font-family: 'Libre Baskerville', serif !important;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  line-height: 18.8px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  text-align: center;
  text-rendering: optimizelegibility;
  text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}
.line-section{
  width: 100%;
  height: 1px;
  background: #EFEFEF none repeat scroll 0% 0%;
}



/*Section 2*/

.codecast-link{
	text-decoration: none;
	color: #F2F2F2 ;

}

.codecast-link:hover{
	text-decoration: none;
}

.codecast{
	width: 100%;
	border: 1px solid #F2F2F2 !important;
	margin-top: 50px;
}

.codecast-holder{
	height: 150px;

	position: relative;
}


/************Background Colors************/

.color-1 {
    background-color: rgb(26, 167, 189);
}
.color-2 {
    background-color: rgb(223, 101, 134);
}
.color-3 {
    background-color: rgb(221, 122, 57);
}
.color-4 {
    background-color: rgb(30, 189, 184);
}
.color-5 {
    background-color: rgb(77, 113, 169);
}
.color-6 {
    background-color: rgb(146, 28, 60);
}
.color-7 {
    background-color: rgb(196, 41, 44);
}

.color-8 {
    background-color: rgb(74, 209, 127);
}


/****************************************/


.codecast-title{
	color: white;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

.codecast-title-holder{
	padding-top: 60px;
	width: 250px;
	margin: 0 auto;
}

.codecast-img-holder{
	width: 50px;
	margin: 0 auto;
}

.codecast-img{
	margin-top: 10px;
	width: 50px;
}




.codecast-difficulty{
  width: 120px;
  height: 30px;
  color: white;
  line-height: 25px;
  padding: 2px 5px 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  text-transform: uppercase;
}
.easy{
    background-color: #58BF44;
}

.medium{
  background-color: rgb(255, 143, 51);
}
.hard{
  background-color: rgb(228, 25, 25);
}


.codecast-info{
  margin-left: 10px;
  margin-top: 15px;
  overflow: hidden;
}

.codecast-info h1{
  color: black;
  cursor: pointer;
  letter-spacing: 0.3px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

.codecast-info p{
  font-size: 0.9em;
  font-weight: 300;
  color: #555;
  line-height: 1.5;
  margin: 10px 0px 1.5em 0px !important;
}


/****** VIDEO HOLDER ***/
.video-holder{
  border: 1px solid black;
  height: 500px;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}



