// Place all the styles related to the subchapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.video-holder{
	border: 1px solid black;
	height: 500px;
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
}