<!--  FOOTER -->
<div id="footer-app" >
  <div class="line-section"></div>
  <div class="footer-app-content">
    <p> © Aprende<span class="ruby_color">Rails</span>.com</p>
    <p> Conecta con nosotros: </p>
    <%= image_tag("fb.png", class: "social_logos") %>
    <%= image_tag("tw.png", class: "social_logos") %>
  </div>
</div>