<!--  FOOTER -->
<div id="footer-app" >
  <div class="line-section"></div>
  <div class="footer-app-content">
    <p> © Aprende<span class="ruby_color">Rails</span>.com</p>
    <p> Conecta con nosotros: </p>
    <img class="social_logos" src="images/fb.png" >
    <img class="social_logos" src="images/tw.png">
  </div>
</div>